body {
  font-family: Arial, sans-serif;
  background-image: url("https://images.pexels.com/photos/2395253/pexels-photo-2395253.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text
}